html{
  margin: auto auto;
  padding: 0px;
  width: 100%;
  height: 100%;
}

@font-face{
  font-family: Eurostile;
  src: url('./Eurostile.ttf');
}

body{
  height: 100%;
  width: 100%;
  font-family: "Eurostile", Verdana;
  margin: 0px;
  background-color: black;
}

#test_div{
  color: white;
}

.design_mode{
  height: 100%;
}

.standard_div{
  display: inline-block;
  width: 100%;
}

#blank_div{

}

#settingsMenu{
  overflow: scroll;
  position: absolute;
  left: 50%;
  z-index: 4242;
  display: block;
  width: 50%;
  min-height: 100%;
  top: 0px;
  padding-top: 0px;
  display: table;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 85px 0px;
  background-color: rgb(240, 240, 240);
  background-clip: border-box;
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 85px 0px;
}

#settings_title{
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(50, 50, 50);
  color: rgb(240, 240, 240);
  font-size: 40px;
}

#settings_content{
  max-height: 100%;
  padding-left: 5px;
}

#settings_title p{
  margin: 0px;
  width: 100%;
  padding: 0px;
  height: 60px;
  line-height: 60px;
}

#settings_footer{
  padding-left: 15px;
  padding-right: 15px;
  bottom: 0px;
  background-color: rgb(50, 50, 50);
  color: rgb(240, 240, 240);
  font-size: 24px;
  width: 100%;
}

#settings_footer p{
  margin: 0px;
  width: 100%;
  padding: 0px;
  height: 30px;
  line-height: 30px;
}

.lower_thirds{
  height: 18%;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: table;
  z-index: 300;
  padding: 0px;
  border-width: 0px;
}

.lower_thirds td{
  padding: 0px;
}

.lower_thirds_table{
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  vertical-align: middle;
}

#pre_match_div_table{
  border-collapse: collapse;
}

#pre_match_results_table{
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

#pre_match_results_table tr td{
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-style: solid;
  border-color: black;
}

#previous_match_lbl, #previous_match_id, #next_match_id, #next_match_lbl{
  width: 24%;
  font-size: 24pt;
}

.final_score{
  font-size: 36pt;
}

.previous_score_details{
  border-bottom-width: 2px;
  font-size: 18pt;
}

#pre_match_upcoming_table{
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

#pre_match_game_logo{
  width: 20%;
}

#pre_match_num_lbl {
  width: 20%;
  color: black;
  font-size: 48px;
}

#pre_match_number {
  width: 20%;
  font-size: 90px;
  font-weight: bold;
  color: black;
}

#pre_match_div_table td img{
  width: 100%;
}

.red_alliance{
  background-color: rgb(175, 0, 30);
  border-width: 0px;
  color: white;
}

.blue_alliance{
  background-color: rgb(3, 41, 98);
  border-width: 0px;
  color: white;
}

.team_number{
  color: white;
  font-size: 30pt;
}

.team_rank{
  width: 12%;
  color: rgb(180, 180, 180);
  font-size: 20pt;
}

#in_match_div_table{
  border-collapse: collapse;
  border-width: 0px;
}

#in_match_timebar{
  height: 7px;
  width: 100%;
}

#timebar{
  height: 100%;
  width: 100%;
  display: block;
  background-color: red;
}

.live_row{
  height: 30%;
}

.live_label{
  font-size: 24pt;
  width: 20%;
}

.live_value{
  width: 20%;
  font-weight: bold;
  font-size: 36pt;
}

.live_score{
  font-weight: bold;
  font-size: 40pt;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.live_score_detail{
  font-size: 24pt;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  width: 6%;
}

.live_team_number{
  color: rgb(180, 180, 180);
  border-width: 1px;
  border-color: white;
  border-style: solid;
  font-size: 14pt;
}

#final_scoreboard{
  background-color: white;
  width: 768px;
  height: 576px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -288px;
  left: 50%;
  margin-left: -384px;
}

#title_bar{
  height: 30%;
  width: 100%;
  display: block;
}

#title_bar table{
  height: 100%;
  width: 100%;
}

#title_bar table tr td img{
  width: 100%;
}

.title_images{
  width: 25%;
}

.title_text{
  text-align: center;
}

#event_name{
  font-size: 20pt;
  vertical-align: bottom;
}

#final_match_number{
  font-size: 36pt;
}

#event_name{
  font-weight: bold;
}

#score_breakdown{
  display: block;
  position: relative;
  width: 100%;
  height: 50%;
}

#score_breakdown table{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 34pt;
  font-weight: bold;
}

#score_breakdown table .red_alliance,
#score_breakdown table .blue_alliance
{
  font-size: 24pt;
  font-weight: normal;
}

#white_row{
  height: 20px;
}

#score_summary{
  position: relative;
  display: block;
  width: 100%;
  height: 20%;
}

#score_summary table{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 60pt;
  font-weight: bold;
}

.finalScreen_team_numbers{
  max-width: 25%;
  width: 16%;
}

.summary_final_score{
  width: 50%;
}